.table-react td {
	font-size: 0.875rem !important;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
.table-react th {
	font-size: 0.875rem !important;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
